<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/morestyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>{{ title }} - Book Library</title>
</head>
<body>
    <header><header id="logo"><h3>Edinburgh Library</h3> </header> </header>
    <div>
        <nav>      
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Shop</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </nav>
    </div> 
    <hr>
    <h1 class="basic">{{ book.name }} by {{book.author}}</h1>
    <hr>
    <div class="blurb">
        <ul>
            <h2><b>Title: </b>{{ book.name }}</h2>
            <h2><b>Author: </b>{{ book.author }}</h2>
            <h3><b>Genre: </b> {{ book.genre }}</h3></p>

        </ul>
    </div id="preview">
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, eligendi, doloremque asperiores error quisquam neque obcaecati, enim molestias officiis totam deleniti et ratione optio minima temporibus! Reiciendis amet perspiciat Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero vel aliquam quas architecto inventore iusto voluptatem quaerat debitis aspernatur, optio, totam reprehenderit suscipit. Dolore unde, accusamus obcaecati velit assumenda deserunt!></p>
    </article>
</body>
</html>
        

    